Ryujinx/

.DS_Store

zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump*
zsh/.oh-my-zsh/cache/nix/flake.lock

# General
configstore/
*.zwc
uv/uv-receipt.json

# Karabiner
karabiner/automatic_backups/

nix/flake.lock
.kilocode/mcp.json
